.botonElminarIngrediente {
  background-color: #db7376;
  color: #484747;
  height: 35px;
  width: 35px;
  transition-duration: 0.35s;
  margin: 5px 5px;
}

.botonElminarIngrediente:hover {
  background-color: #484747;
  color: #dcd9d9;
}

input{
  height:2rem;

}

.row{
  margin-bottom: 10px;
}

.botonNuevoIngrediente {
  background-color: #b39ddb;
  color: #484747;
  height: 35px;
  width: 35px;
  transition-duration: 0.35s;
  margin: 5px 5px;
}

.botonNuevoIngrediente:hover {
  background-color: #484747;
  color: #dcd9d9;
}

.botonGuardar{
  width: 100%;
  margin: 10px 0px;
  background-color: #8656bf;

}

.botonCancelar{
  width: 100%;
  margin: 10px 0px;
  background-color: #f2807d;

}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched{

  background-color: rgba(255, 196, 194, 0.54);
  border-bottom: 1px solid #f2807d;
  box-shadow: 0 1px 0 0 #f2807d;
}


input[type=number]:focus:not([readonly]),input[type=text]:focus:not([readonly]){
  border-bottom: 1px solid #b39ddb;
  box-shadow: 0 1px 0 0 #b39ddb;
}
