<div [routerLink]="[idReceta]" routerLinkActive="recetaElementoActivo" class="recetaElemento row" (click)="onVerReceta()">
  <div class="col imagenContenedor" [ngClass]="{'s4 m4 l4 xl4' : verOeditar,
                                 's2 m2 l2 xl2' : !verOeditar}">
    <img [src]="receta.rutaImagen" [alt]="receta.descripcion" class="responsive-img">
    <br>
  </div>
  <div class="col" [ngClass]="{'s8 m8 l8 xl8' : verOeditar,
                                 's10 m10 l10 xl10' : !verOeditar}">
    <div class="row nombreReceta">{{receta.nombre}}</div>
    <div class="row descripcionReceta">{{receta.descripcion | recortar:150}}</div>
  </div>
</div>
