<div class="row contendorImagen">
  <div class="col s12 m12 l12 xl12">
    <img [src]="receta.rutaImagen" alt="{{receta.nombre}}" class="responsive-img">
  </div>
</div>
<div class="row">
  <div class="col s12 m12 l12 xl12">
    <h3>{{receta.nombre}}</h3>
  </div>
</div>
<div class="row">
  <div class="col s12 m12 l12 l12">
    <a class="waves-effect deep-purple lighten-2 btn"
       (click)="insertarIngredientesEnLaListaDeLaCompra()">Añadir a la lista</a>
    <a [routerLink]="['editar']" class="waves-effect deep-purple lighten-2 btn">Editar receta</a>
    <a (click)="onEliminar()" class="waves-effect red lighten-2 btn">Eliminar receta</a>
  </div>
</div>
<div class="row">
  <div class="col s12 m12 l12 xl12">
    {{ receta.descripcion}}
  </div>
</div>
<div class="row">
  <div class="col s12 m12 l12 xl12">
    <ul class="collection">
      <a class="collection-item" *ngFor="let ingrediente of receta.ingredientes">
        {{ingrediente.nombre}} - ({{ingrediente.cantidad}})
      </a>
    </ul>

  </div>
</div>
