<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper teal lighten-1 ">
    <a href="#!" class="brand-logo center"><i class="fa fa-book"></i>Recelibro</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#" (click)="onSelect('recetas')" >Recetas</a></li>
      <li><a href="#" (click)="onSelect('lista-de-la-compra')">Lista de la compra</a></li>
    </ul>
  </div>
</nav>
