.row, .collection, .collection-item, .imagenContenedor {
  padding: 0;
  margin: 0;
  border: 0;
}

.botonNuevaReceta{
  width: 100%;
  margin: 10px 0px;
}

.collection{
  border: 0px;
}

input[type=number]:focus:not([readonly]),input[type=text]:focus:not([readonly]){
  border-bottom: 1px solid #b39ddb;
  box-shadow: 0 1px 0 0 #b39ddb;
  background-color: #6f6d6d;
  border-radius: 1px;
}
