<div class="row">
  <div class="col s12 m12 l12 xl12">
  </div>
</div>
<div class="row">
  <div class="col s12 m12 l12 xl12">
    <a routerLink="nuevareceta" class="waves-effect deep-purple lighten-2 btn botonNuevaReceta">
      <i class="fa fa-pencil"></i>
      Nueva receta
    </a>
    <div class="collection z-depth-2">
      <div *ngFor="let recetaElemento of recetas; let i = index" class="collection-item row">
        <app-receta [receta]="recetaElemento" [idReceta]="i"></app-receta>
      </div>
    </div>
  </div>
</div>

